# AU module specifics
*~
*.bak
*.cache
*.nupkg
*.old
*.orig
*.swp
*.swo
*.suo
*.test
*.work
*.handover
*.new
*.exist
*-orig.*
Thumbs.db
.DS_Store
_ReSharper*
*.resharper
New folder*
New Text Document*.txt
obj
*/working
ketarin/soluto.xml
*.stackdump
update_vars.ps1
update_info.xml
Update-AUPackages.md

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Password keys
*.key

# Log files
*.log
